*, :after, :before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    margin: 0;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
  }
  body * ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  body * ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  body * ::-webkit-scrollbar-corner {
    background: transparent;
  }
  body * ::-webkit-scrollbar-thumb {
    background: #b53701;
    border: 0 #fff;
    border-radius: 0;
  }
  body * ::-webkit-scrollbar-track {
    background: transparent;
    border: 0 #fff;
    border-radius: 0;
  }
  
  .theme-pink.splash-background {
    background-color: #80ecff!important;
  }
  .splash-background {
    background-image: url("./img/azul.png")!important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
    transition: all .3s ease-in;
  }
  
  .splash-background.splash-background-dotted::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    background-image: url("./img/dots.png")!important;
  }
  
  .splash-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateY(100%);
    transform-origin: center center;
    overflow-y: auto;
  }
  
  .splash-screen {
    transition: transform 1s cubic-bezier(.2,1,.22,1);
    will-change: transform;
  }
  
  .splash-screen.toggle-down {
    transform: translate(0);
  }
  
  .splash-screen .roverPage {
    height: 100%;
  }
  

.roverArea {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex; 
}

.rangePower{
  width: 600px;
  height: 150px;
  position: absolute;
  top: 18%;
  left: 3%;
  transform: translate(-50%,-50%) rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  flex-direction: row;
}

input[type="range"]{
  width: 350px;
  -webkit-appearance: none;
  height: 30px;
  position: relative;
  background-color: #ffffffcc;
  border-radius: 0%;
  outline:none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: #323232;
  border-color: #323232;
  height: 40px;
  width: 10px;
  border-radius: 0%;
}

#number {
    background-color: #323232;
    border-color: #323232;
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
  transform: rotate(90deg);
}

.roverControll{
  width: 500px;
    height: 400px;
    position: absolute;
    top: 28%;
    left: 25%;
    transform: translate(-40%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    flex-direction: row;
    
}

#btnW{
  width:90px;
  height: 60px;
  transform: translate(50%, -150%);
}

#btnA{
  width:90px;
  height: 60px;
  top: 20%;
  transform: translate(-250%, 50%);
}

#btnD{
  width:90px;
  height: 60px;
  transform: translate(60%, 50%);
}

#btnS{
  width:90px;
  height: 60px;
  transform: translate(-270%, 250%);
}

#btnStop{
  width: 300px;
    height: 60px;
    transform: translate(278px, 450px);
}


.btnLog {
    width: 80px;
    height: 40px;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #323232;
    border-color: #323232;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transform: translate(1510px, 3px);
    text-transform: uppercase;
 
  }

  #textVel {  
    height: 40px;
    width:200px;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border-radius: 3px;
    flex-direction: row;
    transform: translate(-150%,100%);
    background-color: #323232;
    border-color: #323232;
}

#textControll {  
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  border-radius: 3px;
  flex-direction: row;
  background-color: #323232;
  border-color: #323232;
  transform: translate(100%,-400%);
}


.roverStreaming{
  width:400px;
  height: 500px;
  transform:  translate(190%, 10%);;
  overflow: hidden;
}

.roverMap {
  width:600px;
  height: 250px;
  transform: translate(-30%, 180%);
}

#streamingVideo{
  display: none;
  width: 500px;
  height: 650px;
  overflow-y:hidden;
  overflow: hidden;
}



